#title_name {
    color: red;
    font-size: 25px;
}



@media (max-width: 768px) {
    #title_name {
        font-size: 35px;
    }
}

@media (max-width:576px) {
    #title_name {
        font-size: 25px;
    }
}

body {
    margin: auto;
    color: white;
    font-family: Arial, sans-serif;
  }